# forEach
snippet fE
	${1:array}.forEach(function (${2:element}) {
		${0: // body...}
	});

# map
snippets map
	${1:array}.map(function (${2:element}) {
		${0: // body...}
	});

# filter
snippets filter
	${1:array}.filter(function (${2:element}) {
		${0: // body...}
	});


# reduce
snippets reduce
	${1:array}.reduce(function (${2:element}) {
		${0: // body...}
	});
